<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <small>Average request duration</small>
        </h1>
    </div>
</div>

<div control-panel filter="filter" app="appName" refresh="refresh()"></div>

<div ng-repeat="report in reports">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header" style="background: aliceblue; padding: 8px;">
                {{ report.appName }}
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Application hot spots </h3>
                </div>
                <div class="panel-body">
                    <pie-chart data="report.totalDurationReport" formatter="durationFormatter"></pie-chart>
                    <div class="text-right">
                        <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Request processing time for selected period </h3>
                </div>
                <div class="panel-body">
                    <line-chart data="report.dailyDurationReport" xkey="xkey" ykeys="report.ykeys" labels="report.ykeys"
                                post-units="ms" x-labels="day"></line-chart>
                    <div class="text-right">
                        <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tr ng-repeat="avgRequestTime in report.avgRequestTimes">
                        <td ng-class="{'highlighted': avgRequestTime.systemName == 'Total'}">{{avgRequestTime.systemName}}</td>
                        <td ng-class="{'highlighted': avgRequestTime.systemName == 'Total'}">{{avgRequestTime.duration | number : 2}} ms</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->